<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.spt.cordova.Base64ToPNG"
    version="2.0.0">

    <name>Base64ToPNG</name>
    <!-- <repo>https://github.com/moderna/cordova-plugin-html2pdf.git</repo> -->
    <keywords>html,pdf,android</keywords>
    <license>SPT</license>
    <author>Thananan Sr</author>
    <description>

    </description>

    <js-module src="www/Base64ToPNG.js" name="Base64ToPNG">
        <clobbers target="base64ToPNG" /><!-- will be available under window.html2pdf -->
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Base64ToPNG" >
                <param name="android-package" value="com.spt.plugin.Base64ToPNG"/>
            </feature>
        </config-file>

        <source-file src="src/com/spt/plugin/Base64ToPNG.java" target-dir="src/com/spt/plugin" />
    </platform>
    
    <!-- ios -->
</plugin>